<!DOCTYPE html>
<html lang="en"
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Students</title>
</head>
<body>
    <h1>List of Students are:</h1>
    <ul>

        <li th:each="student : ${students}" th:text="${student.studentName}">apple</li>
    </ul>
    <h2>All the students are:</h2>
<table>
    <tr>
        <th>StudentId</th>
        <th>StudentName</th>
        <th>CGPA</th>
    </tr>
    <tr th:each="student : ${students}">
        <td th:text="${student.studentId}">432</td>
        <td th:text="${student.studentName}">Emran</td>
        <td th:text="${student.cgpa}">4.0</td>
    </tr>
</table>

</body>
</html>